
.league {
    margin-left: 10px;
    margin-right: 10px;
}

.league li {
    color: black;
    font-size: 13px;
}

.league img {
    padding: 10px;
    width: auto;
    height: 250px;
}

.row {
    margin-top: 20px;
}

.card hr {
    border-top: 3px solid slategrey;
}

